body {
	background-color: #181818;
	visibility: hidden;
}

.content {
	display: flex;
	flex-flow: wrap;
	padding: 20px;
	/* margin: 5em; */
	margin-left: 2.5em;
	margin-right: auto;
	margin-top: 10em;
}

p#episodest {
    font-weight: 700;
    font-size: xx-large;
    margin-left: 0.3em;
    margin-top: -0.25em;
}

.switchd {
    display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card {
	margin: 20px;
	background-color: #282828;
	border-top-left-radius: calc(1.25rem - 1px);
	border-top-right-radius: calc(1.25rem - 1px);
	border-bottom-left-radius: calc(1.25rem - 1px);
	border-bottom-right-radius: calc(1.25rem - 1px);
	border: 1.5rem solid #282828;
  transition: 0.2s;
  box-shadow: 10px 9px 25px #101010;
}

.card:hover {
	background-color: #464444;
	border: 1.6rem solid #464444;
	cursor: pointer;
}

.card.ep:hover {
	background-color: #464444;
	border: 1.5rem solid #464444;
	cursor: pointer;
}

.card-title {
	color: white;
}

.card-text {
	color: #aaaaaa;
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(1.25rem - 1px);
	border-top-right-radius: calc(1.25rem - 1px);
  border-bottom-left-radius: calc(1.25rem - 1px);
}

.loader {
	text-align: center;
	border: 16px solid #282828;
	border-radius: 50%;
	border-top: 16px solid #34c94a;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	left: 45%;
	position: relative;
}


.gg-play-button-o {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 40px;
	height: 40px;
	border: 2px solid #f81f1f;
	border-radius: 20px;
	left: 75%;
	color: white;
	top: -05%;
	background-color: #f81f1f;
	cursor: pointer;
  visibility: hidden;
}

.gg-play-button-o:hover {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 40px;
	height: 40px;
	border: 2px solid #c50505;
	border-radius: 20px;
	left: 75%;
	color: white;
	top: -05%;
	background-color: #c50505;
	cursor: pointer;
}

.gg-play-button-o::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 0;
	height: 20px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 12px solid;
	top: 8px;
	left: 13px;
}

.bg-light {
	/* background: rgb(182,170,155); */
	background: linear-gradient( 180deg, 
  rgb(192 50 25) 1%, rgb(35 35 35) 50%, 
  rgb(24 24 24 / 28%) 73%, 
  rgb(74 74 74 / 0%) 100% );
}

img.d-inline-block.align-top {
	border-radius: 15%;
	margin-top: 1em;
}

.navbarcontent {
	flex: auto;
	margin-top: .5em;
}

.navtoda {
	display: flex;
	background-color: transparent;
	margin-left: -11em;
}

.h1,
h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}

h2 {
	color: white;
  font-weight: 900;
  font-size: 5em;
  margin-top: -0.2em;
}


#endofpage {
	color: #aaaaaa;
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

::-webkit-scrollbar {
	width: 18px;
}

/* Track */
body::-webkit-scrollbar-track {
	background: #181818;
}

/* Handle */
body::-webkit-scrollbar-thumb {
	background: #282828;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
	background: #4b4a4a;
}
