<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="podcast.css">
    <title>Podcaster</title>
</head>
<body>
<header>
<nav class="navbar fixed-top navbar-light bg-light" id="nav">
  <div class="navtoda">
  <div class="logo"></div>
  <a class="navbar-brand" href="#">
    <img src="" width="200" height="200" class="d-inline-block align-top" id="podcastimage" alt=""></a>
  <div class="navbarcontent">
  <h1 id="podcasttitle">Os melhores em</h1>
  <h2 id="podcastauthor"></h2>
  <p id="podcastdescription"></p>
  </div>
  </div>
</nav>
</header>
    <div class="content" id="content">
    </div>
    <p id="endofpage">Uau, você viu tudo!</p>
</body>
</html>
<script src="podcast.js"></script>